@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  width: 24px;
  height: 24px;
}

@layer base {
  :root {
    --tw-gradient-from: #3f6212 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(63 98 18 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}